/* src/components/Product.css */
.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: inline-block;
  text-align: center;
}

.product h2 {
  font-size: 1.5rem;
  margin: 0;
}

.product button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

/* src/components/Cart.css */
.cart {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: inline-block;
  text-align: center;
}

.cart h2 {
  font-size: 1.5rem;
  margin: 0;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.cart button {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.app {
text-align: center;
}

h1 {
  font-size: 70px;
  color: burlywood;
}